# Add any directories, files, or patterns you don't want to be tracked by version control

.vs/
**/obj
**/bin
**/Publish/
**/obj/Debug/
**/obj/Release/
**/bin/Debug/
**/bin/Release/
**/PublishOutput/
uploads
**/uploads/
**/out/
**/storage
*.swp
mono_crash.*

